@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: "Fira Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2e2e36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73f19038;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #73f19060;
}

i {
  cursor: pointer;
}

i:hover {
  color: #2ba5ff;
  font-size: 35px;
}

/* loader animation */
.g {
  animation: g 1s infinite alternate-reverse;
}

@keyframes g {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.m {
  animation: m 1s infinite;
}

@keyframes m {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.b {
  animation: b 1s infinite alternate-reverse;
}

@keyframes b {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* input */
input,
textarea {
  height: 40px;
  border: 1px solid grey;
  border-radius: 0.375rem;
  width: 100%;
  padding-left: 20px;
}
textarea {
  height: 100px;
  padding-top: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #0e5b92;
}

.ant-modal-wrap {
  z-index: 9999 !important;
}

.toggle--checkbox {
  display: none;
}

.toggle--label {
  width: 80px;
  height: 40px;
  background: #96dcee;
  border-radius: 100px;
  border: 3px solid #72cce3;
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
}

@keyframes switch {
  100% {
    left: 42px;
    width: 30px;
  }
  60% {
    left: 12px;
    width: 36px;
  }
  0% {
    left: 4px;
  }
}

@keyframes reverse {
  0% {
    left: 42px;
    width: 30px;
  }
  60% {
    left: 12px;
    width: 36px;
  }
  100% {
    left: 4px;
  }
}

.toggle--label::before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #f5eb71;
  top: 2px;
  left: 3px;
  position: absolute;
  border-radius: 36px;
  background: #fffaa8;
}

.toggle--label-background {
  width: 15px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: white;
  left: 50px;
  top: 15px;
  transition: all 150ms ease-in;
}
.toggle--label-background::before {
  content: "";
  position: absolute;
  top: -4px;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  left: -4px;
  transition: all 150ms ease-in;
}
.toggle--label-background::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 18px;
  height: 5px;
  border-radius: 5px;
  background: white;
  left: -4px;
  transition: all 150ms ease-in;
}

.toggle--checkbox:checked + .toggle--label {
  background: #6b7abb;
  border-color: #5d6baa;
}

.toggle--checkbox:checked + .toggle--label::before {
  background: white;
  border-color: #e8e8ea;
  animation: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

.toggle--label::after {
  transition-delay: 0ms;
  transition: all 0ms ease-in;
  position: absolute;
  content: "";
  box-shadow: #e8e8ea -13px 0 0 2px, #e8e8ea -20px 6px 0 -0.5px;
  left: 66px;
  top: 8px;
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

.toggle--checkbox:checked + .toggle--label::after {
  transition: all 250ms ease-in;
  transition-delay: 350ms;
  opacity: 1;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 25px;
  width: 4px;
  height: 4px;
  top: 17px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background::before {
  width: 4px;
  height: 4px;
  top: -8px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background::after {
  width: 4px;
  height: 4px;
  left: -10px;
  top: 5px;
}
